@charset "UTF-8";

* {
  margin: 0px;
  padding: 0;
  outline: none;
}

html {height: 100%}
body {width: 100%;
  height: 100%;
  background-color: #000000;
  color: #222;
  font-family: 'arsenal',  Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
}
a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 50%;
  height: 100%;
  left: 0px;

}
a:hover {
  color:
}
a, a:hover {
  -webkit-transition: all.6s ease;
  -moz-transition: all.6s ease;
  -o-transition: all.6s ease;
  -ms-transition: all.6s ease;
  transition: all.6s ease;
}

.mein-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-areas:
 "shapka shapka shapka"
 "statyi statyi smotr"
 "footer footer footer";
}




.shapka {
  z-index: 3;
  background-color: #000000;
  top: 0px;
  grid-area: shapka;
  display: grid;
  grid-gap:0.2em;
  grid-template-areas:
  ". logo . arhiv . komiki . ploshadki . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . vhod . .";
  font-size: 150%;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  position: sticky;
  }
  .logo {
    background-color:;
    grid-area: logo;
    margin-top: 10px;
    margin-bottom:10px;
    padding-left: 20%;
  }
  .arhiv {
    background-color:;
    grid-area: arhiv;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .komiki {
    background-color:;
    grid-area: komiki;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .ploshadki {
    background-color:;
    grid-area: ploshadki;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .vhod {
    grid-area: vhod;
    margin-top:6px;
    margin-bottom:6px;

    }
  .hover-transform:hover {
     color: #000000;
     letter-spacing: 3px;
  }
  .vhod-img:hover {
    transform: scale(0.9);
    transition: 0.6s ease-out;
  }



.news-grid {
  background-color: #e13333;
  grid-area: statyi;
}






.smotr-grid {
  background-color: #1c1c1c;
  grid-area: smotr;
  height: auto;
  overflow: hidden;
  }

  .smotr-grid > * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 150%;
  }

  .titless{font-size: 150%;
    text-align:center;
    font-family:sen;
    font-weight:700;
    display: grid;
    grid-area: title-smotr;
    height: 25px;
  }

  .videos-style {
    background-color: #000009;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    display: grid;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background: linear-gradient(180deg, #8c0000, #fb3939);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    overflow: hidden;

    }
    .downtitle {
    z-index: 1;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    height: 20px;
    width: 200%;
    background-color:;
    padding-bottom: 8px;
    margin-top: 0px;
    padding-top: 2px;
    padding-left: 3px;
    background: linear-gradient(180deg, #8c0000, #fc2323);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    overflow: hidden;

    }
    .subprev {
    width:200%;
    z-index: 2;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    }
    #popdnyatie {
      margin-bottom: 5%;
    }
    .subprev:hover {
      transform: scale(1.06);
      transition: 0.5s ease-out;
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -o-transform: scale(1.06);
      overflow: hidden;
      z-index:2;
    }







.footer {
  background-color: #000000;
  grid-area: footer;
  display: grid;
  grid-template-columns:1fr 1fr;
  text-align:left;
  color: white;
  grid-gap: 3px;
  height: 60px;
  font-family: Arial, sans-serif;}

  .info {
    display: grid;
    background-color: #343434;
    grid-template-rows: 1fr 1fr;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
  }
  .o-nas {
    font-size: 200%;
    display: grid;
    padding-top: 3px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .a-o-nas:hover {
    color:#fc2323;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  }
  .a-o-nas {
    white-space: nowrap;
  }
  .a-o-nas::before {
    content: ""
  }
  .prava {
    text-align: center;
    font-size: 70%;
    display: grid;
    white-space: nowrap;
  }
    .analitika {
    margin-top: 3px;
    margin-right: 3px;
    border: 10px;
    display: grid;
    background-color: #343434;
    grid-template-areas:
    "icons8 freepik . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    margin-bottom: 3px;
  }
    .icons8 {
    display: grid;
    grid-area: icons8;
    float:left;
    padding-top: 3px;
    padding-bottom: 0px;
    width: 45px; height: 49px;
  }
    .icons8:hover {
      background-color: #292929;
      transition: all.8s ease;
    }
    .freepik {
      display: grid;
      grid-area: freepik;
      padding-top: 3px;
      padding-bottom: 0px;
      width: 51px;height: 49px;
    }
    .freepik:hover {
      background-color: #292929;
      transition: all.8s ease;
    }
    .center-pik {
      padding-left:3px;
    }






/*АНИМАЦИИ*/
@-webkit-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}














































/*конец страницы*/
