

@media screen and (max-width: 640px) {
 .mein-grid {
   display: grid;
   grid-template-areas:
   "shapka shapka shapka"
   "statyi statyi statyi"
   "smotr smotr smotr"
   "footer footer footer";
 }
   .shapka {
     grid-template-areas:
     "logo arhiv komiki ploshadki . . . . . . vhod";
   }
}

@media screen and (max-width: 450px) {
 .mein-grid {
   display: grid;
   grid-template-areas:
   "shapka shapka shapka"
   "statyi statyi statyi"
   "smotr smotr smotr"
   "footer footer footer";
 }
   .shapka {
     grid-template-areas:
     "logo . arhiv komiki ploshadki . . . . vhod";
   }
   .shapka {
     font-size: 130%;
   }

}

/* samsung S5 and menshe */
@media screen and (max-width: 400px) {
 .mein-grid {
   display: grid;
   grid-template-areas:
   "shapka shapka shapka"
   "statyi statyi statyi"
   "smotr smotr smotr"
   "footer footer footer";
 }
   .shapka {
     grid-template-areas:
     ". logo . arhiv . komiki . ploshadki . vhod . ";
     font-size: 120%;
     letter-spacing: 2px;
   }

}

@media screen and (max-width: 321px) {
 .mein-grid {
   display: grid;
   grid-template-areas:
   "shapka shapka shapka"
   "statyi statyi statyi"
   "smotr smotr smotr"
   "footer footer footer";
   letter-spacing: 2px;
 }
   .shapka {
     grid-template-areas:
     "logo . arhiv . komiki . ploshadki . vhod . ";
     font-size: 120%;
     font-family: "segoe ui", Arial, sans-serif;
     letter-spacing: 1px;
   }
   .prava {
      font-size: 30%;
      white-space: nowrap;
      font-family: "segoe ui", Arial, sans-serif;
   }

}











































































































































/*конец страницы*/
